{% extends 'base.html.twig' %}

{% block title %}WorkTime index{% endblock %}

{% block body %}
    <h1>WorkTime index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Horaire</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>HeurDebutTravaille</th>
                <th>HeurFinTravaille</th>
                <th>DebutPauseMatinal</th>
                <th>FinPauseMatinal</th>
                <th>DebutPauseDejeuner</th>
                <th>FinPauseDejeuner</th>
                <th>DebutPauseMidi</th>
                <th>FinPauseMidi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_time in work_times %}
            <tr>
                <td>{{ work_time.horaire }}</td>
                <td>{{ work_time.dateDebut ? work_time.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ work_time.dateFin ? work_time.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ work_time.heurDebutTravaille ? work_time.heurDebutTravaille|date('H:i:s') : '' }}</td>
                <td>{{ work_time.heurFinTravaille ? work_time.heurFinTravaille|date('H:i:s') : '' }}</td>
                <td>{{ work_time.debutPauseMatinal ? work_time.debutPauseMatinal|date('H:i:s') : '' }}</td>
                <td>{{ work_time.finPauseMatinal ? work_time.finPauseMatinal|date('H:i:s') : '' }}</td>
                <td>{{ work_time.debutPauseDejeuner ? work_time.debutPauseDejeuner|date('H:i:s') : '' }}</td>
                <td>{{ work_time.finPauseDejeuner ? work_time.finPauseDejeuner|date('H:i:s') : '' }}</td>
                <td>{{ work_time.debutPauseMidi ? work_time.debutPauseMidi|date('H:i:s') : '' }}</td>
                <td>{{ work_time.finPauseMidi ? work_time.finPauseMidi|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('work_time_show', {'id': work_time.id}) }}">show</a>
                    <a href="{{ path('work_time_edit', {'id': work_time.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('work_time_new') }}">Create new</a>
{% endblock %}
