{% extends 'base.html.twig' %}

{% block title %}AutorisationSortie index{% endblock %}

{% block body %}
    <h1>AutorisationSortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateAutorisation</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for autorisation_sortie in autorisation_sorties %}
            <tr>
                <td>{{ autorisation_sortie.id }}</td>
                <td>{{ autorisation_sortie.dateAutorisation ? autorisation_sortie.dateAutorisation|date('Y-m-d') : '' }}</td>
                <td>{{ autorisation_sortie.time ? autorisation_sortie.time|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('autorisation_sortie_show', {'id': autorisation_sortie.id}) }}">show</a>
                    <a href="{{ path('autorisation_sortie_edit', {'id': autorisation_sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('autorisation_sortie_new') }}">Create new</a>
{% endblock %}
