{% extends 'base.html.twig' %}

{% block title %}AutorisationSortie{% endblock %}

{% block body %}
    <h1>AutorisationSortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ autorisation_sortie.id }}</td>
            </tr>
            <tr>
                <th>DateAutorisation</th>
                <td>{{ autorisation_sortie.dateAutorisation ? autorisation_sortie.dateAutorisation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ autorisation_sortie.time ? autorisation_sortie.time|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('autorisation_sortie_index') }}">back to list</a>

    <a href="{{ path('autorisation_sortie_edit', {'id': autorisation_sortie.id}) }}">edit</a>

    {{ include('autorisation_sortie/_delete_form.html.twig') }}
{% endblock %}
