<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				Welcome to ATLAS!
			{% endblock %}
		</title>
		<!-- Google Font: Source Sans Pro -->
		{% block stylesheets %}
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body
		{% block body_class %} class="hold-transition sidebar-mini" {% endblock %}>
		<!-- Site wrapper -->
		<div class="wrapper">
			{% use "navbar.html.twig" %}
			{% block navbar %}
				{{ parent() }}
			{% endblock %}
			{% use "sidebar.html.twig" %}
			{% block sidebar %}
				{{ parent() }}
			{% endblock %}
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				{% use "contentheader.html.twig" %}
				{% block contentheader %}
					{{ parent() }}
				{% endblock %}
				{% use "content.html.twig" %}
				{% block content %}
					{{ parent() }}
				{% endblock %}
			</div>
			<!-- /.content-wrapper -->

			<footer class="main-footer">
				{% use "footer.html.twig" %}
				{% block footer %}
					{{ parent() }}
				{% endblock %}
			</footer>

			<!-- Control Sidebar -->
			<aside
				class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
